

  <nav style="background-color:  #f5f5f5;">
    < nav >
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <section style="background-color:  #f5f5f5;">
    
    <div *ngFor="let article of articles" >
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{article.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{article.urlToImage}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                {{article.content}}
                </p>
            </mat-card-content>
            
        </mat-card>
        <br>
    </div>

  </section>
  <aside style="background-color:  #f5f5f5;">
    < aside >
  </aside>

  

