
<div class="newsheadlines">
  <nav>
    <ul>
      <li>Item 1 with some long ass name</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
      <li>Item 7</li>
      <li>Item 8</li>
      <li>Item 1 with some long ass name</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
      <li>Item 7</li>
      <li>Item 8</li>
      
    </ul>
  </nav>
  <section>
    <div *ngFor="let article of articles" >
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{article.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{article.urlToImage}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                {{article.content | slice : 0:400}}
                </p>
            </mat-card-content>
            
        </mat-card>
        <br>
    </div>

  </section>
  <aside [dir]="dir" class="custom-card-container">
      <div mdcCard [outlined]="outlined"><div class="custom-card-group-heading">Headlines</div></div>
      
        <div mdcCard [outlined]="outlined" *ngFor="let article of articles">
            

            <hr mdcListDivider>

            <a class="custom-card-article" mdcRipple surface href="javascript:void(0)">
              <mat-grid-list cols="5" rowHeight="100px">
                <mat-grid-tile colspan="3" rowspan="1">
                  <h4>{{article.title}}</h4>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                  <img style="object-fit: contain" class="trending-section" src={{article.urlToImage}}> 
                </mat-grid-tile>
              </mat-grid-list>
            </a>
        
            

            <hr mdcListDivider>

            <a class="custom-card-article" mdcRipple surface href="javascript:void(0)">
              <mat-grid-list cols="5" rowHeight="100px">
                <mat-grid-tile colspan="3" rowspan="1">
                    <p>
                        Favorable business conditions have allowed startups to secure more fundraising deals compared to last
                        year.
                    </p>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="1">
                  <img class="trending-section" src="https://static01.nyt.com/images/2019/02/28/world/28india-pakistan2/28india-pakistan2-facebookJumbo.jpg">
                </mat-grid-tile>
              </mat-grid-list>
            </a>

            
            
            
        </div>
  </aside>

</div>

  

