

  <nav style="background-color:  #f5f5f5;">
    < nav >
    <ul>
      <li>Item2</li>
      <li>Item3</li>
    </ul>
    <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Custom Toolbar</span>
            </mat-toolbar-row>
          
            <mat-toolbar-row>
              <span>Second Line</span>
              <span class="example-spacer"></span>
              <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->
            </mat-toolbar-row>
          
            <mat-toolbar-row>
              <span>Third Line</span>
              <span class="example-spacer"></span>
              <!-- <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon> -->
            </mat-toolbar-row>
          </mat-toolbar>
  </nav>
  <section style="background-color:  #f5f5f5;">
    
    <div *ngFor="let article of articles" >
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{article.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{article.urlToImage}} alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                {{article.content}}
                </p>
            </mat-card-content>
            
        </mat-card>
        <br>
    </div>

  </section>
  <aside style="background-color:  #f5f5f5;">
    < aside >
  </aside>

  

