*
{
  box-sizing: border-box;
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
  
}

header,
nav,
section,
aside,
footer
{
  border-radius: 5px;
  
}

header,
nav,
footer
{
  width: 100%;
  padding: 50px;
}

header
{
  margin-bottom: 50px;
}


nav,
aside
{
  width: 25%;
}

section
{
  float: left;
  width: calc(50% - 100px);
  margin: 0 30px 30px 30px;
}



/* This position the nav on the left side */
nav
{
  float: left;
}

/* This positions the aside on the right side */
aside
{
  float: right;
}

nav ul
{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav li
{
  display: inline-block;
  margin: 0 0 0 50px;
  width: 100px;
}

nav li:first-child
{
  margin-left: 0;
}

footer
{
  clear: both;
}





.example-card {
    max-width: 600px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }