<p>
  tutorial7 works!
</p>

<!-- Demonstrating class binding -->

<h2 class="text-success">tutorial7 works!</h2>

<h2 [class]="successClass">tutorial7 works!</h2>

<!-- class binding using a conditional expression -->
<h2 [class.text-danger]="isDanger">tutorial7 works!</h2>

<!-- conditional expression on multiple class binding -->
<h2 [ngClass]="msgClasses">tutorial7 works!</h2>

<!-- event binding -->
<button (click)="onClick()">Greet</button>
{{greeting}}
<br>

<!-- template reference variable -->
<input  #myInput type="text">
<button (click)="logInput(myInput.value)">Log input</button>
<br>

<!-- two way binding -->
<input [(ngModel)]="first_name" type="text">
{{first_name}}
<br>
<input [(ngModel)]="last_name" type="text">
{{last_name}}


<!-- structural directives -->
<!-- ngIf -->
<h2 *ngIf="isVisible; else elseBlock">now you see me</h2>

<ng-template #elseBlock>
  <h2>Message Hidden</h2>
</ng-template>
<br>

<!-- alternative ngIf usage -->
<div *ngIf="isMessage; then thenBlock; else elseBlock2"></div>

<ng-template #thenBlock>
  <h2>Then Block Message</h2>
</ng-template>
<ng-template #elseBlock2>
  <h2>Else Block Message</h2>
</ng-template>



